@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-gradient {
  background-image: linear-gradient(
    to right,
    white,
    rgb(111, 111, 255) rgb(253, 209, 253) white
  );
}
.text-stroke {
  -webkit-text-stroke: 1px white; /* width and color of stroke */

  color: white; /* text color */
  opacity: 70;
}
